# =========================
# Flutter / Dart / Pub
# =========================
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Flutter release APK outputs
/build/app/outputs/flutter-apk/

# =========================
# Android
# =========================
/android/.gradle
/android/.cxx
/android/local.properties
/android/gradlew
/android/gradlew.bat
/android/captures/
/android/build/
**/*.keystore
**/*.jks
/android/app/key.properties
/android/app/google-services.json
GeneratedPluginRegistrant.java

# Gradle wrapper (optional, keep if you want to track version)
/android/gradle/wrapper/gradle-wrapper.jar

# =========================
# iOS
# =========================
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/Podfile.lock
/ios/DerivedData/
/ios/Runner/GoogleService-Info.plist
*.xcworkspace
*.xcuserdata

# =========================
# IDE / Editor
# =========================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# =========================
# Environment / Secrets
# =========================
.env
*.env
!.env.example
lib/firebase_options.dart
firebase.json

# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
